#### Day Objectives

- variable declaration
- Data Types and Conversions
- arithmetic Operation by using python
- indentation
- how to take input from dynamically
- condition statements in python

In [5]:
print("hello world",end=" ")
print("gd afternoon",end=" ")
print("hai hello")

hello world gd afternoon hai hello

#### Variable declaration

In [9]:
n=4      # single variable declaration
n2=n3=n4=n   # multiple variable declaration
print(n,n2,n3,n4)

a,b,c=1,2,3     # multiple variables declaration with different values
print(a,b,c)

4 4 4 4
1 2 3

### Data types and conversions
- int
- float
- string

In [10]:
n=12
type(n)

int

In [11]:
n2=12.34
type(n2)

float

In [12]:
n3="1233sdfg"
type(n3)

str

In [15]:
n4=12.34        # conversion of float to integer
float(str(int(n4)))

12.0

### Arthimetic operation by using python

In [16]:
n1=4
n2=5
print(n1+n2)    # addition of two numbers
print(n1-n2)    # subtraction of two numbers
print(n1*n2)    # multiplication of two no's
print(n1/n2)    # divisible of two no's(include decimal values)
print(n1//n2)   # divisible of two no's(without including decimal values)
print(n1%n2)    # modulus of two no's
print(n1**n2)   # power of two no's

9
-1
20
0.8
0
4
1024

### indentation

In [20]:
a=8
b=9
if b>a:
    print(b)

9

In [ ]:
### check if given number is even or not
n=int(input())
if n%2==0:
    print("even")
else:
    print("odd")

In [1]:
#### check if given year is leap or not
n=int(input())
if n%400==0 and n%100!=0 or n%4==0:
    print("leap")
else:
    print("not a leap")

1996
leap

### how to take input from dyanmically

In [3]:
n=int(input())
print(n)

23456
23456

#### conditional statement in python
- if
- elif
- else
- nested if

In [7]:
# check if a number exists in a given range
s = int(input())
e = int(input())
n = int(input())
if s<n<e:
    print("in range")
else:
    print("not in range")

5
1
10
in range

In [8]:
# check if a number is multiple of 10
n = int(input())
if n%10==0:
    print("True")
else:
    print("False")

100
True

In [11]:
# check if a number is factor of 1000
n  = int(input())
if 1000%n == 0:
    print("is Factor")
else:
    print("not a factor")

11
not a factor

In [15]:
# check if given string is equal to a number
n = int(input())
s = input()
if str(n)==s:
    print("equal")
else:
    print("not equal")

123
123
equal

In [20]:
# calculate the no of nano seconds in leap year
y = int(input())
if(y%4==0 and y%100!=0) or (y%400==0):
    print(366*24*60*60*1000*100)
else:
    print("not a leap year")

2400
3162240000000