## Day Objectives
### Data Structues
    - Lists
    - Tuples
    - Dictionary
    - Set

### List
    - Collection of Multiple data
    - Ordered Data Sturucture
    - Mutable 
    - indicated with []

In [5]:
l=[1,2,3,4]
l
print(l)

[1, 2, 3, 4]

In [2]:
l[0]

1

In [3]:
l[-1]

4

In [6]:
l=[124,'python','@']
l

[124, 'python', '@']

In [7]:
l[1]

'python'

In [8]:
l=[1,4,6,8,3]
for i in l:
    print(i)

1
4
6
8
3

In [9]:
m=0
for every_element in l:
    if every_element>m:
        m=every_element
print(m)

8

In [12]:
x=l[0]
for i in l:
    if i<x:
        x=i
print(x)

1

In [13]:
l=[56,34,89,85]
s=0
c=0
for i in l:
    s=s+i
    c=c+1
print(s/c)

66.0

In [14]:
print(sum(l)/len(l))

66.0

In [17]:
print(max(l),min(l))

89 34

In [18]:
l=[12,3,4,5]
l[2]=13
l

[12, 3, 13, 5]

### l = [2,5,8,9]
- Even = value+1
- Odd = square of the value
Output : [3,25,9,81]

In [19]:
l=[1,2,56,3,4,89]
for i in range(len(l)):
    if l[i]%2==0:
        l[i]=l[i]+1
    else:
        l[i]=l[i]**2
print(l)

[1, 3, 57, 9, 5, 7921]


## List Methods  
    - append(element)
    - extend(new list)

In [24]:
l1=[1,2,3,4]
l2=[5,6,7,8]

[1, 2, 3, 4, 7.5]

In [28]:
l1.append(7.5)
l1

[1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 8, 7.5]

In [29]:
l1.extend(l2)
l1

[1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 8, 7.5, 5, 6, 7, 8]

In [30]:
l1.count(7.5)

4

In [31]:
l1.count(19)

0

In [32]:
l1

[1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 8, 7.5, 5, 6, 7, 8]

In [33]:
l1.remove(8)

In [34]:
l1

[1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 7.5, 5, 6, 7, 8]

In [35]:
l1.remove(19)

ValueError: list.remove(x): x not in list

In [36]:
l1.insert(0,'Python')
l1

['Python', 1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 7.5, 5, 6, 7, 8]

In [37]:
l1.pop()

8

In [38]:
l1

['Python', 1, 2, 3, 4, 7.5, 7.5, 7.5, 5, 6, 7, 7.5, 5, 6, 7]

In [39]:
l1.pop(5)

7.5

In [40]:
l1

['Python', 1, 2, 3, 4, 7.5, 7.5, 5, 6, 7, 7.5, 5, 6, 7]

In [41]:
l3=l1
l3

['Python', 1, 2, 3, 4, 7.5, 7.5, 5, 6, 7, 7.5, 5, 6, 7]

In [43]:
l1.pop()
l3

['Python', 1, 2, 3, 4, 7.5, 7.5, 5, 6, 7, 7.5, 5]

In [44]:
l4=l1.copy()
l4

['Python', 1, 2, 3, 4, 7.5, 7.5, 5, 6, 7, 7.5, 5]

In [46]:
l1.remove(7.5)
l1

['Python', 1, 2, 3, 4, 5, 6, 7, 7.5, 5]

In [48]:
l4

['Python', 1, 2, 3, 4, 7.5, 7.5, 5, 6, 7, 7.5, 5]

In [49]:
l=[89,345,123,6836,98,3]
l.sort()

In [51]:
print(l)

[3, 89, 98, 123, 345, 6836]

In [52]:
print(l[::-1])

[6836, 345, 123, 98, 89, 3]

In [53]:
lis=sorted(l,reverse=True)  ## Descending Order
lis

[6836, 345, 123, 98, 89, 3]

In [54]:
li=sorted(l,reverse=False) # Ascending Order
li

[3, 89, 98, 123, 345, 6836]

In [55]:
li.clear()
li

[]

### Program to print the second largest element in a list

In [56]:
l=[12,3,4,58,46]
l.sort()
l

[3, 4, 12, 46, 58]

In [57]:
l[-2]

46

In [58]:
l=[1,1,2,3,3,3,6,7]
unique=[]
for i in l:
    if i not in unique:
        unique.append(i)
    print(unique)

[1]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 6]
[1, 2, 3, 6, 7]

## Tuple
    - Ordered
    - Immutable
    - Indicated with ()

In [59]:
t=(1,2,3,4,50)
t

(1, 2, 3, 4, 50)

In [60]:
for i in t:
    print(i)

1
2
3
4
50

In [61]:
t[3]

4

In [62]:
t[3]=123
t

TypeError: 'tuple' object does not support item assignment

### Dictionary
    - Unordered
    - Mutable